rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /listings/{listing} {
      allow read;
      allow  write: if request.auth != null
    }
    match /users/{user}{
      allow read;
      allow write: if request.auth != null
    }
    match /global/global{
      allow read;
    }
  }
}